Repository arhat-ext/runtime-podman, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, dependency

Use ghcr images
  .github/workflows/ci.yaml
  cicd/docker/runtime-podman.linux.armv5.dockerfile
  cicd/docker/runtime-podman.linux.dockerfile
  cicd/docker/runtime-podman.linux.mips64le.dockerfile
  cicd/gitlab/unit-tests.yaml
  scripts/lint.mk
Labels: ci

Reimplement podman runtime
  .github/workflows/ci.yaml
  .golangci.yml
  cmd/runtime-podman/main.go
  pkg/cmd/runtime-podman.go
  pkg/conf/runtime.go
  pkg/conf/util.go
  pkg/runtime/container.go
  pkg/runtime/image.go
  pkg/runtime/pod.go
  pkg/runtime/runtime.go
  pkg/runtime/sample.go
  pkg/runtime/translate.go
  pkg/runtime/util.go
  pkg/version/version.go
Labels: ci

Remove unwanted targets, fix dockerfiles
  .golangci.yml
  Makefile
  cicd/docker/runtime-podman.linux.armv5.dockerfile
  cicd/docker/runtime-podman.linux.armv6.dockerfile
  cicd/docker/runtime-podman.linux.mips64le.dockerfile
  scripts/build/runtime-podman.mk
  scripts/image/runtime-podman.mk
Labels: none

Add main reexec
  cmd/runtime-podman/main.go
Labels: none

Fix build scripts
  scripts/build/build.sh
Labels: none

Update golangci config
  .golangci.yml
Labels: none

Update vendored packages
  go.mod
  go.sum
  vendor/ext.arhat.dev/runtimeutil/storageutil/client_config.go
  vendor/modules.txt
Labels: dependency

chore(deps): update mikepenz/release-changelog-builder-action action to v1.2.1
  .github/workflows/build.yaml
Labels: ci

deps(vendor): Update vendored packages
  vendor/github.com/BurntSushi/toml/session.vim
Labels: dependency

chore(deps): update golangci/golangci-lint docker tag to v1.33.0
  scripts/lint.mk
Labels: none

.github/labeler.yml:

docs:
- docs/**
- README.md

ci:
- .github/**
- cicd/gitlab/**
- .gitlab-ci.yml

dependency:
- go.mod
- go.sum
- vendor/**
